.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 75%;
    padding: 5px;
    height: 86vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
    width: 600px;
  }